:focus {
  outline: none;
}

.mention {
  background-color: rgba(0, 128, 255, 0.1);
  border-radius: 0.4rem;
  box-decoration-break: clone;
  color: rgb(57, 130, 255);
  padding: 0.1rem 0.3rem;
}

.tiptap {
  :first-child {
    border-color: black;
  }
  .tiptap:focus-within {
    outline: none;
  }
  p:first-child:empty {
    content: attr(
      data-placeholder
    ); /* Use the data-placeholder attribute from the parent */
    color: #999;
    pointer-events: none;
    opacity: 0.5;
  }

  .mention {
    background-color: rgba(0, 128, 255, 0.1);
    border-radius: 0.4rem;
    box-decoration-break: clone;
    color: rgb(57, 130, 255);
    padding: 0.1rem 0.3rem;
  }
}

/* Character count */
.character-count {
  align-items: center;
  color: var(--zinc-5);
  display: flex;
  font-size: 0.75rem;
  gap: 0.5rem;
  margin: 1.5rem;

  svg {
    color: var(--purple);
  }

  &--warning,
  &--warning svg {
    color: var(--red);
  }
}
